@model List<TechCommunityCalendar.Interfaces.ITechEvent>

@{
    Layout = "~/Views/Shared/_LayoutFull.cshtml";

    var months = new[] { "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" };

    var countries = new[] { "UK", "Ireland", "Austria", "Switzerland", "Germany", "Belgium", "France", "Netherlands", "Spain",
    "Portugal", "Italy", "Poland", "Denmark", "Norway", "Finland", "Sweden", "Australia", "Brazil", "Japan", "China", "Singapore",
    "Malaysia", "UAE", "Canada", "USA" };

}

<h2 class="display-4">Avanade Country Calendar in 2023</h2>

<table class="table table-bordered">
    <tr>
        <th></th>
        <th colspan="16">Europe</th>
        <th colspan="7">Growth Markets</th>
        <th colspan="5">North America</th>
    </tr>
    <tr>
        <th></th>
        <th colspan="2">UKI</th>
        <th colspan="3">ASG</th>
        <th colspan="3">Gallia</th>
        <th colspan="2">Iberia</th>
        <th colspan="2">ICEG</th>
        <th colspan="4">Nordics</th>
        <th colspan="7"></th>
        <th colspan="5"></th>
    </tr>
    <tr>
        <th></th>
        <th>UK</th>
        <th>Ireland</th>
        <th>Austria	</th>
        <th>Switzerland</th>
        <th>Germany</th>
        <th>Belgium</th>
        <th>France</th>
        <th>Netherlands</th>
        <th>Spain</th>
        <th>Portugal</th>
        <th>Italy</th>
        <th>Poland</th>
        <th>Denmark</th>
        <th>Norway</th>
        <th>Finland</th>
        <th>Sweden</th>
        <th>Australia</th>
        <th>Brazil</th>
        <th>Japan</th>
        <th>China</th>
        <th>Singapore</th>
        <th>Malaysia</th>
        <th>UAE</th>
        <th>Canada</th>
        <th>USA</th>

        @*<th>US West</th>
        <th>US Midwest</th>
        <th>US Northeast</th>
        <th>US South</th>*@
    </tr>
    @for (int x = 0; x < months.Length; x++)
    {
        <tr>
            <th>
                @months[x]
            </th>
            @foreach (var country in countries)
            {
                <td>@await Html.PartialAsync("_EventsInCountry", new CountryListViewModel(country,x+1, Model))</td>
            }
            @*<td></td>
        <td></td>
        <td></td>
        <td></td>*@
        </tr>
    }

</table>
