<div class="flex-container">
    <div class="event-type"><a href="/eventtype/callforpapers/">📣<br />Call For Papers</a></div>
    <div class="event-type"><a href="/eventtype/conference/">🧠<br />Conferences</a></div>
    <div class="event-type"><a href="/eventtype/hackathon/">👩‍💻<br />Hackathons</a></div>
    <div class="event-type"><a href="/eventtype/meetup/">🤝<br />Meetups</a></div>
    <div class="event-type"><a href="/eventtype/website/">💻<br />Websites</a></div>
</div>