@model TechCommunityCalendar.CoreWebApplication.Models.CountryViewModel
@{
    ViewData["Title"] = $"Tech Community Events in {Model.Country}";
}

<div class="text-center">
    <h3>Tech Events in @Model.Country</h3>

    <br />
    <br />

    <h4>@Model.UpcomingEventsCount Upcoming Events</h4>
    @if (Model.Events.Any(x => x.StartDate.Date >= DateTime.Now.Date))
    {
        @await Html.PartialAsync("_EventsTable", Model.UpcomingEvents)
    }
    else
    {
        <p>No upcoming events</p>
    }
    <br />

    <h4>@Model.RecentEventsCount Recent Events</h4>
    @if (Model.Events.Any(x => x.StartDate.Date < DateTime.Now.Date))
    {
        @await Html.PartialAsync("_EventsTable", Model.RecentEvents)
    }
    else
    {
        <p>No recent events</p>
    }

</div>
