@model TechCommunityCalendar.CoreWebApplication.Models.CountryViewModel
@{


    ViewData["Title"] = $"Tech Community Events in {Model.Country}";
}

<div class="text-center">
    <h1 class="display-4">Tech Community Calendar</h1>
    <h2>Conferences - Meetups - Hackathons</h2>
    @*<div>
        <span><a href="/@lastMonthNumber/@lastMonthYear">@lastMonthName</a></span> -
        <span><a href="/@thisMonthNumber/@thisMonthYear">@thisMonthName</a></span> -
        <span><a href="/@nextMonthNumber/@nextMonthYear">@nextMonthName</a></span>
    </div>*@

    <br />
    <br />

    <h3>Tech Events in @Model.Country</h3>

    <br />
    <br />

    <h4>Upcoming Events</h4>

    @await Html.PartialAsync("_EventsTable", Model.Events.Where(x => x.StartDate.Date >= DateTime.Now.Date))

    <br />

    <h4>Recent Events</h4>

    @await Html.PartialAsync("_EventsTable", Model.Events.Where(x => x.StartDate.Date < DateTime.Now.Date))


</div>
