@model TechCommunityCalendar.CoreWebApplication.Models.EventTypeViewModel
@{
    ViewData["Title"] = $"{Model.EventType} Tech Community Events";
}

<div class="text-center">
    <h3>@Model.EventType Tech Events</h3>

    <br />
    <br />

    <h4>Upcoming Events</h4>
    @if (Model.Events.Any(x => x.StartDate.Date >= DateTime.Now.Date))
    {
        @await Html.PartialAsync("_EventsTable", Model.Events.Where(x => x.StartDate.Date >= DateTime.Now.Date))

    }
    else
    {
        <p>No upcoming events</p>
    }
    <br />

    <h4>Recent Events</h4>

    @await Html.PartialAsync("_EventsTable", Model.Events.Where(x => x.StartDate.Date < DateTime.Now.Date))


</div>
