@model TechCommunityCalendar.CoreWebApplication.Models.HomeViewModel
@{

    var lastMonth = DateTime.Now.AddMonths(-1);
    var thisMonth = DateTime.Now.AddMonths(0);
    var nextMonth = DateTime.Now.AddMonths(1);

    var lastMonthName = lastMonth.ToString("MMMM yyyy");
    var thisMonthName = thisMonth.ToString("MMMM yyyy");
    var nextMonthName = nextMonth.ToString("MMMM yyyy");

    var lastMonthNumber = lastMonth.Date.Month;
    var thisMonthNumber = thisMonth.Date.Month;
    var nextMonthNumber = nextMonth.Date.Month;

    var lastMonthYear = lastMonth.Date.Year;
    var thisMonthYear = thisMonth.Date.Year;
    var nextMonthYear = nextMonth.Date.Year;
}

<div class="text-center">
    <h1 class="display-4">Tech Community Calendar</h1>
    <h2>Conferences - Meetups - Hackathons</h2>

    @await Html.PartialAsync("_TopMonths", Model.UpcomingEvents)

    <br />

    <h3>Upcoming Events</h3>

    @await Html.PartialAsync("_EventsTable", Model.UpcomingEvents)

    <br />

    <h3>Recent Events</h3>

    @await Html.PartialAsync("_EventsTable", Model.RecentEvents)

    <br />

    <h3>Countries</h3>
    //@foreach (var country in Model.Countries)
    {
        <a href="/country/@country.Item2/">@country.Item1</a> <text>//</text>
    }

    <br />
    <br />

    <h3>Event Types</h3>
    //@foreach (var eventType in Model.EventTypes)
    {
        <a href="/eventtype/@eventType.Item2/">@eventType.Item1</a> <text>//</text>
    }

</div>
