@model TechCommunityCalendar.CoreWebApplication.Models.HomeViewModel
@{
}
<div class="text-center">

    @*@await Html.PartialAsync("_EventTypesIcons")
    <br/>

    @await Html.PartialAsync("_TopMonths", Model.Events)
    <br />*@

    @if (Model.CurrentEvents.Any())
    {
        <h3>@Model.CurrentEventsCount Current Events</h3>
        @await Html.PartialAsync("_EventsTable", Model.CurrentEvents)
        <br />
    }

    @if (Model.UpcomingEvents.Any())
    {
        <h3>@Model.UpcomingEventsCount Upcoming Events</h3>
        @await Html.PartialAsync("_EventsTable", Model.UpcomingEvents)
        <br />
    }

    @if (Model.RecentEvents.Any())
    {
        <h3>@Model.RecentEventsCount Recent Events</h3>
        @await Html.PartialAsync("_EventsTable", Model.RecentEvents)
        <br />
    }

    <h3>Events By Country</h3>
    //@foreach (var country in Model.Countries)
    {
        <a href="/country/@country.Item2/">@country.Item1</a> <text>//</text>
    }
</div>
